<div class="row">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">My Kudos App <span *ngIf="authService.isAuthenticated()" style="font-size: 14px">Welcome {{user.name}}</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a *ngIf="authService.isAuthenticated()" routerLink="/give-kudos" routerLinkActive="actived">Give
                        kudos</a>
                </li>
                <li><a *ngIf="authService.isAuthenticated()" routerLink="/my-kudos" routerLinkActive="actived">My
                        Kudos</a></li>
                <li><a *ngIf="authService.isAuthenticated()" (click)="authService.signOut()">Logout</a></li>
            </ul>

        </div>

    </nav>
</div>
<router-outlet></router-outlet>