<div class="col s12">
    <div class="card horizontal thumbnail">
        <div class="card-image">
            <!-- TODO: Reemplazar la imagen-->
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                    <div class="col s6">
                        <p>{{kudo?.date}}</p>
                    </div>
                    <div class="col s6">
                        <p>{{kudo?.user}}</p>
                    </div>
                    <p>{{kudo?.text}}</p>
                </div>
            </div>
            <div class="card-action">
                <a href="#">Return kudo</a>
            </div>
        </div>
    </div>
</div>