.flexbox {
    display: flex;
    flew-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.push {
    display: flex;
    margin-left: auto;
}

.actived {
    background-color: rgba(0, 0, 0, 0.15);
}