.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.push {
    display: flex;
    margin-left: auto;
}

.actived {
    background-color: rgba(0, 0, 0, 0.15);
}

.flex-container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}