<div class="row">
    <div class="col s6 flexbox">
        <form #kudoForm="ngForm" (ngSubmit)="giveKudo(kudoForm.value); kudoForm.reset()">
            <div class="card horizontal">
                <div class="card-image">
                    <!-- TODO: Reemplazar la imagen-->
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6">
                                <p>{{date | date: 'yyyy/MM/dd'}}</p>
                            </div>
                            <div class="col s6">
                                <label for="username">Choose user</label>
                                <div class="input-field col s12">
                                    <select [(ngModel)]="receiver" name="receiver">
                                        <!-- TODO: Correct this hardcoded assignation -->
                                        <option>{{usersList.name}}</option>
                                        <option *ngFor="let user of usersList" [value]="user.name">{{user.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-field col s12">
                                <label for="message">What do you want to say?</label>
                                <input [(ngModel)]="message" name="message" type="text" id="message">
                            </div><br>
                            <div class="form-field col s12 right-align">
                                <button class="btn waves-effect red accent-1 waves-light" (click)="kudoForm.reset()">Cancel
                                    <i class="material-icons right">cancel</i>
                                </button><span>&nbsp;</span>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Send
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>